<div class="row" id="title">
  <div class="small-8 large-centered column" >
    <h1><%= @faction.name %> </h1>
  </div>
</div>

<p><%= link_to "Back to #{@faction.galaxy.name} Map", @faction.galaxy %></p>
<p><%= link_to "Back to #{@faction.galaxy.name} Factions List", galaxy_factions_path(@faction.galaxy) %></p>

<div class="row">
  <div class="large-4 small-6 columns">
    <p>Controlled By: <%= @faction.user.username %></p>
    <ul>Systems Controlled:
      <% @faction.systems.each do |system| %>
        <li><%= link_to system.name, galaxy_system_path(system.galaxy, system) %></li>
      <% end %>
    </ul>
  </div>

  <div class="large-4 small-6 columns">
    <% unless @faction.name == "Unowned" %>
      <% if current_user == @faction.galaxy.gm || current_user.authority == "admin" %>
        <div class="actions">
          <%= button_to "Delete This Faction", @faction, method: :delete, data: { confirm: "Are you sure you want to delete this faction?" }%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
