<%- if @unit_class.errors.present? -%>
  <%- @unit_class.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>
<h1>Create a New Class</h1>

<div class="row">
  <div class="large-4 small-6 columns">
    <%= form_for [@faction, @unit_class] do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit "Create Class Design" %>
      </div>
    <%- end -%>
  </div>
</div>
