
<h1><%=@galaxy.name%> Map</h1>
<svg width="1028" height="720">
  <% @galaxy.systems.each do |system|
    rect_coords = convert_coords(system.ring, system.angle)%>

    <circle cx="<%=rect_coords[0]%>" cy="<%=rect_coords[1]%>" r="15" stroke="orange" stroke-width="3" fill="white" />
    <% system.linked_systems.each do |link|
      link_coords = convert_coords(link.ring, link.angle) %>

      <line x1="<%=rect_coords[0]%>" y1="<%=rect_coords[1]%>" x2="<%=link_coords[0]%>" y2="<%=link_coords[1]%>" style="stroke:rgb(236,156,44);stroke-width:2" />
    <%end%>
  <%end%>
  <% @galaxy.systems.each do |system|
    rect_coords = convert_coords(system.ring, system.angle)%>
    <a xlink:href="<%=galaxy_system_path(@galaxy, system)%>" target="_blank">
      <text x="<%=rect_coords[0]+8%>" y="<%=rect_coords[1]-14%>" fill="white"><%=system.name%></text>
    </a>
  <% end %>

</svg>
<div class="row">
  <div class="large-4 small-6 columns">
    <%= link_to "Factions Present", galaxy_factions_path(@galaxy) %>
  </div>
  <div class="large-4 small-6 columns">
    <% if current_user == @galaxy.gm || current_user.authority == "admin" %>
      <div class="actions">
        <%= button_to "Resolve Next Turn", galaxy_moves_path(@galaxy), method: :post %>
        <%= button_to "Delete This Galaxy", @galaxy, method: :delete, data: { confirm: "Are you sure you want to delete this galaxy?" }%>
      </div>
    <% end %>
  </div>
</div>
