<div class="row" id="title">
  <div class="small-8 large-centered column" >
    <h2 id="system_name">Edit <%= @system.name%></h2>
  </div>
</div>

<div class="row">
  <div class="large-4 small-6 columns">
    <%= form_for @system do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :census %>
        <%= f.number_field :census %>
      </div>

      <div class="field">
        <%= f.label :max_census %>
        <%= f.number_field :max_census %>
      </div>

      <div class="field">
        <%= f.label :raw %>
        <%= f.number_field :raw %>
      </div>

      <div class="field">
        <%= f.label :infrastructure %>
        <%= f.number_field :infrastructure %>
      </div>

      <div class="field">
        <%= f.label :faction_id, "Controlling Faction" %>
        <%= f.collection_select :faction_id, @system.galaxy.factions, :id, :name %>
      </div>

      <div class="actions">
        <%= f.submit "Save Changes" %>
      </div>
    <%- end -%>
  </div>
</div>
