<div class="row" id="title">
  <div class="small-8 large-centered column" >
    <h2 id="system_name"><%= @system.name%></h2>
  </div>
</div>
<div class="row" class="back-to-map">
  <p><%= link_to "Back to #{@system.galaxy.name} Map", @system.galaxy %></p>
<div>
<div class="row">
  <div class="large-11 columns">
    <p>Controlled By: <%= link_to @system.faction.name, galaxy_faction_path(@system.galaxy, @system.faction) %> </p>
    <p>Census: <%= @system.census%>/<%= @system.max_census%><p>
    <p>RAW: <%= @system.raw%><p>
    <p>Infrastructure: <%= @system.infrastructure%><p>
    <p>Income: <%= @system.income%><p>
    <% if current_user == @system.galaxy.gm %>
      <%= link_to "Edit This System", edit_system_path(@system) %>
    <% end %>
    <div class="row">
      <div class="large-5 small-6 columns">
        <h3>Connected Systems:</h3>
        <ul>
        <% @system.linked_systems.each do |link| %>
          <li><a href="<%=galaxy_system_path(@system.galaxy, link)%>"><%=link.name%></a>
          </li>
        <%end%>
        </ul>
      </div>

      <div class="large-5 small-6 columns">

        <h3>System Contents:</h3>
        <ul id="contents">
          <% @system.units.each do |unit| %>
            <li id="unit-<%= unit.id %>" data-unit-id="<%= unit.id %>"><%="#{unit.name}: #{unit.faction.name} #{unit.unit_class.name}"%>
              <%- unless unit.destination == @system -%>
                - Destination: <%=unit.destination.name%>
              <%- end -%>
              <%- if current_user == @system.galaxy.gm -%>
                <div class="actions">
                  <%= button_to "Delete Unit", unit_path(unit),
                    method: :delete, form: { data: { 'unit' => 'delete' } }%>
                </div>
              <%- end -%>
            </li>
          <%end%>
        </ul>
        <div class="actions">
          <%= button_to "Issue Move Orders", new_galaxy_system_move_path(@system.galaxy, @system), { method: :get} %>
        </div>
        <%- if current_user == @system.galaxy.gm -%>
          <h4>Create New Unit:</h4>

          <%= form_for(@unit, data: {unit: 'create'}) do |f| %>
            <div class="field">
              <%= f.label :name, "Unit Name" %>
              <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :faction_id, "Faction" %>
              <%= f.collection_select :faction_id, @system.galaxy.factions, :id, :name %>
            </div>

            <%= f.hidden_field(:system_id, value: @system.id) %>

            <div class="field unit-class">
            </div>

            <div class="actions">
              <%= f.submit "Create Unit" %>
            </div>
          <% end %>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
